[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/comentary-tpope"]
	path = plugins/start/comentary-tpope
	url = https://tpope.io/vim/commentary.git
[submodule "colors/start/oceanic-material"]
	path = colors/start/oceanic-material
	url = https://github.com/nvimdev/oceanic-material.git
[submodule "plugins/start/vim-commentary"]
	path = plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "plugins/start/vim-surround"]
	path = plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/start/fzf.vim"]
	path = plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "syntax/start/ale"]
	path = syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
