[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/comentary-tpope"]
	path = plugins/start/comentary-tpope
	url = https://tpope.io/vim/commentary.git
[submodule "colors/start/oceanic-material"]
	path = colors/start/oceanic-material
	url = https://github.com/nvimdev/oceanic-material.git
[submodule "plugins/start/vim-commentary"]
	path = plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "plugins/start/vim-surround"]
	path = plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/start/fzf.vim"]
	path = plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "syntax/start/ale"]
	path = syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "colors/start/vim-colors-solarized"]
	path = colors/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "plugins/start/vim-fugitive"]
	path = plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/start/vim-repeat"]
	path = plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
